%section.container
  .row
    .col-sm-12
      = render 'gemgento/user/shared/user_header'
      = render 'gemgento/shared/flash_messages'

  .row
    .col-sm-12
      - if @wishlist_items.count > 0

        = pluralize(@wishlist_items.count, 'item').upcase

        - @wishlist_items.each_with_index do |item, i|

          %h3= item.name

      - else
        .row
          .col-sm-12
            %p Your have wishlits items, why not #{link_to "add some", "/shop"}
