- total = 0

.pages-holder
	.pages-header
		%h1 SHOPPING BAG

	.pages-content
		#shopping-bag
			%table.shopping-bag
				%thead
					%tr
						%th{colspan: 2} ITEM
						%th COLOR & SIZE
						%th QTY
						%th UNIT PRICE
						%th TOTAL PRICE
						%th

				%tbody
					- if current_order.order_items.size > 0
						- current_order.order_items.each do |order_item|
							- total += order_item.qty_ordered.to_i * order_item.product.price.to_i

							%tr
								%td
									- if !order_item.product.assets.empty?
										= image_tag order_item.product.assets.first.asset_file.file.url(:default_index)

									- elsif !order_item.product.configurable_products.first.assets.empty?
										= image_tag order_item.product.configurable_products.first.assets.first.asset_file.file.url(:default_index)

								%td= order_item.product.attribute_value('name')
								%td= #"Size: #{order_item.product.attribute_value('size')}"
								%td= number_with_precision(order_item.qty_ordered.to_i, precision: 0)
								%td= number_to_currency(order_item.product.attribute_value('price'))
								%td= number_to_currency((order_item.product.attribute_value('price').to_i * order_item.qty_ordered).to_i)
								%td= link_to 'remove', gemgento.cart_url(:activity => 'remove_item', :product_id => order_item.product_id), :method => 'patch'
					- else
						%tr
							%td{colspan: 7}
								%p
									Your have no items in your cart...
				%tfoot
					%tr
						%td{colspan: 3}
						%td{colspan: 2}
							= text_field_tag "promo_code"
						%td{colspan: 2}
							= button_tag "ENTER"
					%tr
						%td{colspan: 3}
						%td.label{colspan: 2}
							ITEM TOTAL
						%td.value{colspan: 2}
							= number_to_currency(total)
					%tr
						%td{colspan: 3}
						%td.label{colspan: 2}
							SHIPPING FEE
						%td.value{colspan: 2}
							= number_to_currency(current_order.shipping_amount)
					%tr
						%td{colspan: 3}
						%td.label{colspan: 2}
							SUBTOTAL
						%td.value{colspan: 2}
							= number_to_currency(current_order.grand_total)

					%tr
						%td{colspan: 3}
						%td{colspan: 4}
							= link_to checkout_login_path do
								= button_tag "CONTINUE TO CHECKOUT"
