%section.container

  %pre
    %code This is 'gemgento/user/registration_session/new.haml'
    %br
    %code A combined login/register page that handles all these routes: '/user/login', '/user/sign_up', '/user/sign_in'



  %section.container
  .row
    .col-sm-5.col-sm-offset-1


      = render partial: 'gemgento/shared/flash_messages'
      = render partial: 'gemgento/shared/error_messages', locals: { model: @new_user}
      = render partial: 'gemgento/shared/error_messages', locals: { model: @existing_user }

      = form_for(@existing_user, url: user_login_path, html: { method: :post }) do |f|

        = hidden_field_tag :activity, 'sign_in'

        .form-group
          %legend Sign In
          %p Already registerd? Sign in here

        .form-group
          = f.label :email, "Email address"
          = f.email_field :email, :autofocus => true, class: "form-control"

        .form-group
          = f.label :password
          = f.password_field :password, :autofocus => true, class: "form-control"

        .form-group
          = submit_tag 'Sign in', class: "btn"

        .form-group
          = link_to 'Forgot Your Password?', new_user_password_path


    .col-sm-5
      = form_for(@new_user, url: user_login_path, html: { method: :post })  do |f|

        = hidden_field_tag :activity, 'register'

        .form-group
          %legend New Users Sign Up
          %p Enter your credentials to sign up

        .form-group
          = f.label :email, "Email address"
          = f.email_field :email, autofocus: true, class: "form-control"

        .form-group
          = f.label :password
          = f.password_field :password, class: "form-control"

        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control"

        .form-group
          = submit_tag 'Sign up', class: "btn"

        .form-group
          = link_to 'Cancel', '/'
