%section.container

  %section.row
    .col-sm-6.col-sm-offset-3

      = render 'gemgento/shared/flash_messages'
      = devise_error_messages!

      %legend
        Enter your credentials to sign up

      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

        .form-group
          %label{for: 'email'} E-mail address
          = f.email_field :email, autofocus: true, class: "form-control"

        .form-group
          %label{for: 'password'} Password
          = f.password_field :password, class: "form-control"

        .form-group
          %label{for: 'password_confirmation'} Password confirmation
          = f.password_field :password_confirmation, class: "form-control"

        .form-group
          = link_to 'Cancel', '/'
          = submit_tag 'Sign up', class: "btn"
