.pages-holder
  .pages-header
    Sign up
  .pages-content
    .form
      .form-group
        .form-left
          = flash[:error]
          = devise_error_messages!
          .field
            %h2 Enter your credentials
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            .field
              %label{for: 'email'} E-mail address
              = f.email_field :email, autofocus: true

            .field
              %label{for: 'password'} Password
              = f.password_field :password

            .field
              %label{for: 'password_confirmation'} Password confirmation
              = f.password_field :password_confirmation

            .field
              .form-left
                = link_to 'Cancel', '/'
              .form-left
                = submit_tag 'Sign up'

        .clear