.sidebar-wrapper
  %h5 SHOP
  Categories
  %ul 
  - @categories.each do |cat|
    %li
      = link_to cat.name, category_path(cat)


.page-wrapper
  .products-wrapper
    %h3 products
    - @products.each do |p|
      .product
        - if p.assets.first
          = link_to (image_tag p.assets.first.url), product_path(p)
        - else
          = link_to (image_tag 'http://placekitten.com/g/500/500'), product_path(p)
        .product-info
          = p.name
          .price
            = "$ #{p.original_price.to_i}"