.pages-holder
  .pages-holder-col30
    = image_tag @product.assets.first.asset_file.file.url(:default_index)
  .pages-holder-col70
    .product-header
      %h1= @product.name
      .price
        - if @product.has_special?
          %h2.original= number_to_currency(@product.original_price)
        %h2= number_to_currency(@product.price)

    .product-content  
      %p= @product.description

      = form_for current_order, url: gemgento.cart_url, method: 'patch', html: { id: 'add_to_cart' } do |f|
        %input{type: 'hidden', name: 'activity', value: 'add_item'}


        - if @product.magento_type == 'configurable'
          - default_product_id = @product.simple_products.first.id
          %input{type: 'hidden', name: 'product_id', value: default_product_id}
          .configurable-attributes
            - @product.configurable_attribute_order.each do |code, values|
              .product-attribute
                %label SELECT COLOR
                = select_tag code, options_for_select(values)

            - @product.configurable_attribute_order.each do |code, values|
              .product-attribute
                %label SELECT COLOR
                = select_tag code, options_for_select(values)
        - else
          %input{type: 'hidden', name: 'product_id', value: @product.id}

        .quantity.product-attribute
          %label QUANTITY
          = select_tag 'quantity', options_for_select(1..10)

        .footer
          = f.submit 'ADD TO BAG'

  .clear
