%section.container

  %section.row
    .col-sm-12
      = render 'gemgento/checkout/checkout_header'

  %section.row
    .col-sm-6

      = flash[:error]

      = form_for @quote, url: checkout_sign_in_path, method: :post do |f|

        = hidden_field_tag :activity, 'login_user'

        .form-group
          %legend Already have an account?

        .form-group
          = f.label :customer_email, 'Email'
          = text_field_tag 'email', nil, class: "form-control"

        .form-group
          = f.label :password
          = password_field_tag 'password', nil, class: "form-control"

        .form-group
          = link_to 'Forgot Password', new_user_password_path

        .form-group
          = submit_tag 'Sign In', class: "btn"

    .col-sm-6
      = form_for @quote, url: checkout_guest_path, method: :post do |f|

        = hidden_field_tag :activity, 'login_guest'

        .form-group
          %legend Guest checkout

        .form-group
          = f.label :customer_email
          = f.text_field :customer_email, class: "form-control"

        .form-group
          = link_to 'Create an account', new_user_registration_path

        .form-group
          = submit_tag 'Continue', class: "btn"
