.pages-holder
  .pages-header
    Sign up
  .pages-content
    .form
      .form-group
        .form-left
          = flash[:error]
          = devise_error_messages!
          .field
            %h2 Enter your credentials
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|    
            .field
              %label{for: 'email'} E-mail address
              = f.email_field :email, :autofocus => true

            .field
              %label{for: 'password'} Password
              = f.password_field :password, :autofocus => true

            .field
              %label{for: 'password_confirmation'} Password confirmation
              = f.password_field :password_confirmation, :autofocus => true

            .field
              .form-left
                = link_to 'BACK TO CHECKOUT', checkout_login_path
              .form-left
                = submit_tag 'Sign up'

        .clear
