= form_tag admin_product_positions_update_path, id: 'product-positions-form' do
  = select_tag 'store_id', options_for_select(Gemgento::Store.all.collect { |s| [ s.name, s.id ] }.unshift(['All Stores', nil]), params[:store_id]), id: 'store-select'
  = select_tag 'category_id', grouped_options_for_select(Gemgento::Category.grouped_options, @category.id), id: 'category-select'
  = hidden_field_tag 'products', ''

  #feed-blocks-wrapper-admin
    %ul#feed-blocks-admin
      - @products.each_with_index do |p|
        - image = Gemgento::Asset.find_by_code(p, 'image') # try to get the base image
        - image = p.assets.first if image.nil? # grab whatever the first image is if we don't have a base
        - unless image.nil?
          = content_tag_for :li, p, data: { 'product-id' => p.id } do
            .feed-block-admin.ui-state-default
              = image_tag p.assets.first.image.url()