.container.text-center
  .row
    .col-sm-6.col-sm-offset-3

      = flash[:error]
      = devise_error_messages!

      %fieldset
        %legend Set new password

        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|

          .form-group
            %label{for: 'email'} E-mail address
            = f.email_field :email, :autofocus => true, class: "form-control"

          .form-group
            = submit_tag 'Reset password', class: "btn btn-primary"

          .form-group
            = link_to 'Back to login', '/user/login'
