!!!
%html
  %head
    %title STORE NAME
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes'}
    = stylesheet_link_tag 'gemgento/default-views/application', media: 'all'
    = javascript_include_tag 'gemgento/default-views/application'
    = csrf_meta_tags
    %body
      #body-holder
        = render partial: 'layouts/header'
        #content-holder= yield
        = render partial: 'layouts/footer'

        :javascript
          jQuery(function() {
            window.$this = new (App.#{controller_path.split(/\/|_/).map(&:capitalize).join('')} || App.Base)();

            if (typeof $this.#{action_name} === 'function') {
              return $this.#{action_name}.call();
            }
          });